<% provide(:title, 'Reset password') %>

<section class="section">
  <h1 class='subtitle'>Reset password</h1>

  <div class="columns is-centered">
    <div class="column is-one-third">

      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= hidden_field_tag :email, @user.email %>
        <%= render "_components/forms/password_field", form: f %>
        <%= render "_components/forms/password_field", form: f, confirmation: true %>
        <%= render "_components/forms/submit", form: f, text: "Update Password" %>
      <% end %>

    </div>
  </div>
</section>
