<%= form_for(@cardio) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :cardio_choice_id, @cardio_choice.id %>

  <div class="columns">
    <div class="column is-one-third">
      <%=
        render "_components/forms/number_field", form: f,
        attribute: :duration_in_minutes,
        placeholder: "e.g. 1",
        min: 0
      %>
    </div>

    <div class="column is-one-third">
      <%= render "_components/forms/date_field", form: f, attribute: :occurred_date %>
      <%=
        render "_components/forms/select", form: f,
        attribute: :occurred_time,
        choices: @time_choices
      %>
      <%=
        render "_components/forms/text_area", form: f,
        attribute: :notes,
        rows: 3,
        placeholder: "e.g. Was so fast"
      %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= render "_components/forms/submit", form: f, text: yield(:button_text) %>
    </div>
  </div>

<% end %>
