<%= form_for(@martial_art, as: :martial_art,
                           url: form_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :type, class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:type, @choices) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :duration, class: 'label' %>
    <div class="control">
      <%= f.number_field :duration_in_seconds, class: 'input', type: 'number', placeholder: "e.g. 1", value: @default_duration, min: 0 %>
    </div>
  </div>

  <div class="field">
    <%= f.label "Occured Date", class: 'label' %>
    <div class="control">
        <%= f.date_field :occurred_at, index: :date, max: Date.today %>
    </div>
  </div>

  <div class="field">
    <%= f.label "Occured Time", class: 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select(:occurred_at,  @time_choices, {:selected => @default_time}, {index: :time}) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :notes, class: 'label' %>
    <div class="control">
      <%= f.text_area :notes, class: 'textarea', rows: 11, placeholder: "e.g. Had a great time" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit yield(:button_text), class: "button is-link" %>
    </div>
  </div>
<% end %>
