<% provide(:title, @martial_art.friendly_type) %>

<section class="section">

<h1 class='subtitle'> <%= @martial_art.friendly_type %> </h1>


<span class="timestamp">
  <%= when_text(@martial_art.occurred_at) %>
</span>
<br><br>
<aside>
  <section class="content">
    <% if @martial_art.notes.present? %>
      <strong>Notes:</strong>
      <br>
      <%= simple_format(@martial_art.notes) %>
    <% end %>
  </section>
</aside>
<br><br>
<% if current_user?(@martial_art.user) %>
  <%= link_to "edit", edit_martial_art_path(@martial_art), class: "button is-link" %>
  <%= link_to "delete", martial_art_path(@martial_art), method: :delete,
                                   data: { confirm: "You sure?" }, class: "button is-link" %>
<% end %>

</section>
