

<% provide(:title, @martial_art.friendly_type) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @martial_art.friendly_type %>
      </h1>
    </section>
  </aside>
</div>

<span class="timestamp">
  Performed <%= time_ago_in_words(@martial_art.occurred_at) %> ago.
</span>


<aside>
  <section class="content">
    <% if @martial_art.notes.present? %>
      <strong>Notes:</strong>
      <br>
      <%= simple_format(@martial_art.notes) %>
    <% end %>
  </section>
</aside>



<% if current_user?(@martial_art.user) %>
  <%= link_to "edit", edit_martial_art_path(@martial_art), class: "btn btn-primary" %>
  <%= link_to "delete", martial_art_path(@martial_art), method: :delete,
                                   data: { confirm: "You sure?" }, class: "btn btn-primary" %>
<% end %>
