<%= form_for(@lift) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :lift_choice_id, @lift_choice.id %>

  <div class="columns">
    <div class="column is-one-third">
      <%
        if @lift.has_weight?
          render "_components/forms/number_field", form: f,
          attribute: :weight,
          type: "float",
          placeholder: "e.g. 135",
          min: 0
        end
      %>
      <%=
        render "_components/forms/number_field", form: f,
        attribute: :sets,
        placeholder: "e.g. 3",
        min: 1
      %>
      <%=
        render "_components/forms/number_field", form: f,
        attribute: :reps,
        placeholder: "e.g. 5",
        min: 1
      %>
      <%=
        render "_components/forms/number_field", form: f,
        attribute: :last_amrap_set,
        placeholder: "e.g. 5",
        min: 1
      %>
    </div>

    <div class="column is-one-third">
      <%= render "_components/forms/date_field", form: f, attribute: :occurred_date %>
      <%=
        render "_components/forms/select", form: f,
        attribute: :occurred_time,
        choices: @time_choices
      %>
      <%=
        render "_components/forms/text_area", form: f,
        attribute: :notes,
        rows: 3,
        placeholder: "e.g. Swole af"
      %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= render "_components/forms/submit", form: f, text: yield(:button_text) %>
    </div>
  </div>

<% end %>
