<div class="column is-one-third" id="lift_choice-<%= lift_choice.id %>">
  <%= link_to lift_choice.friendly_name, edit_lift_choice_path(lift_choice) %>
  <br>
  <p><%= has_weight_text(lift_choice) %></p>
  <p><%= default_sets_text(lift_choice) %></p>
  <p><%= default_sets_text(lift_choice) %></p>
</div>
