<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "LP", root_path, id: "logo", class: "navbar-item" %>
    <button class="button navbar-burger is-black" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <!-- navbar items -->
      <%= link_to "Home", root_path, class: "navbar-item" %>
      <% if logged_in? %>
        <%= link_to "Lifts", lift_choices_path, class: "navbar-item" %>
      <% end %>
    </div>

    <div class="navbar-end">
      <!-- navbar items -->

      <%= link_to "Help", '#', class: "navbar-item" %>

      <% if logged_in? %>
        <%= link_to "Users", users_path, class: "navbar-item" %>
        <div class="navbar-item has-dropdown">
          <a class="navbar-link">
            <%= current_user.first_name %>
          </a>
          <div class="navbar-dropdown is-right">
            <%= link_to "Profile", current_user, class: "navbar-item" %>
            <%= link_to "Settings", edit_user_path(current_user), class: "navbar-item" %>
            <hr class="navbar-divider">
            <%= link_to "Log out", logout_path, method: :delete, class: "navbar-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Log in", login_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>

<section class="section" id="page-heading">
  <div class="columns">
    <div class="column">
      <% if yield(:heading_title).present? %>
        <h3 class="title is-3"><%= yield(:heading_title) %></h3>
      <% else %>
        <h3 class="title is-3">Logging Progress</h3>
      <% end %>

      <% if yield(:heading_subtitle).present? %>
        <h5 class="subtitle is-5">
          <%= yield(:heading_subtitle) %>
          <% if yield(:heading_subsubtitle).present? %>
            <br>
            <%= yield(:heading_subsubtitle) %>
          <% end %>
        </h5>
      <% end %>

    </div>
  </div>
  <hr id="page-heading-hr">
</section>
