<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <%= render 'application/favicon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <% if flash.any? %>
        <section class="section" id="flash-notif-section">
          <div class="columns is-centered">
            <div class="column is-two-thirds">
              <% flash.each do |message_type, message| %>
                <div class="notification is-<%="#{message_type}"%> flash-notif">
                <button class="delete"></button>
                  <%=message%>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>
